@charset "utf-8";
@import "plus/z";
@import "../css/common.css";

.reset();
.invitation-box{
	.maxBody();
	position: relative;
	background: #A48B51;
	div{
		position: absolute;
		text-align: center;
	}
	.invitation-bg1{
		top: 0;
		left: 0;
		.maxBody();
		background: url(../img/invitation/11.png) no-repeat;
		.bga-size(100%,auto);
	}
	.invitation-bg2{
		top: 15%;
		right: 5%;
		width: 20%;
		img{
			width: 100%;
		}
	}
	.invitation-bg3{
		top: 52%;
		left: 0;
		width: 100%;
		img{
			width: 37%;
		}
	}
	.invitation-bg4{
		top: 58%;
		left: 0;
		width: 100%;
		img{
			width: 50%;
		}
	}
	.invitation-bg5{
		top: 70%;
		left: 0;
		width: 100%;
		img{
			width: 50%;
		}
	}
	.invitation-bg6{
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: left;
		img{
			width: 30%;
		}
	}
	.invitation-bg7{
		bottom: 0;
		right: 0;
		width: 100%;
		text-align: right;
		img{
			width: 60%;
		}
	}
	.invitation-bg8{
		top: 5%;
		left: 0;
		width: 100%;
		img{
			width: 70%;
		}
	}
	.invitation-font{
		top: 62%;
		left: 0;
		width: 100%;
		font-size: 10vw;
		color: #fff;
	}
}