@charset "utf-8";
@import "plus/z";
@import "../css/common.css";

.reset();

#loading{
	position: absolute;
	z-index: 999;
	.maxBody();
	top: 0;
	left: 0;
	background: #a7e1f1;
}
.loading-box{
	.maxBody();
}

#load {
	position:absolute;
	width:100%;
	height:36px;
	top:60%;
	color:#fff;
	line-height: 36px;
	text-align: center;
}
#load span{
	transform:scale(1);
	-webkit-animation: menuon 1.2s infinite linear;
}

#load span:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load span:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load span:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load span:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load span:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load span:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

#orientation{
    display: none;
}

.orientation-box{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 33333;
    overflow: hidden;
    background: #000;
    .Inner{
        width: 100%;
	    margin: auto;
	    position: relative;
	    height: 100%;
		-moz-transform:scale(.6);
		-webkit-transform:scale(.6);
		-o-transform:scale(.6);
		-ms-transform:scale(.6);
		transform:scale(.6);
    }
    .Mobile {
	    position: absolute;
	    left: 50%;
	    margin-left: -124px;
	    top: 0;
	}
	.Phone {
	    position: absolute;
	    left: 50%;
	    margin-left: -50px;
	    top: 30px;
	    -webkit-animation: Phone 1.2s 100ms infinite linear both;
	    transform-origin: 50% 50%;
	    -webkit-transform: rotate3d(0,0,1,-90deg);
	}
	.Floata1 {
	    position: absolute;
	    left: 50%;
	    margin-left: -110px;
	    text-align: center;
	    top: 85%;
	    color: #eee;
	    font-family: "微软雅黑";
	    font-size: 30px;
	}
}